* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

body {
    margin: 10px;
}

.topic {
    color: blue;
    text-decoration: underline;
}

.select-container {
    display: flex;
    gap: 20px;
    margin: 10px;
    height: 200px;
}

.select {
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    outline: none; //*
    font-size: 16px;
    height: 100%;
    width: max-content;

    option {
        padding: 5px 5px 5px 10px;
        margin: 10px 0;
        height: 35px;
        display: flex;
        align-items: center;
        min-width: 150px;
        width: max-content;
        background-color: rgb(221, 221, 221);
        color: blue;
        border-radius: 5px;
    }

    option:checked {
        background-color: rgb(180, 180, 180);
    }
}

.button-container {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.item {
    justify-content: center;
}

.button {
    padding: 3px;
    color: rgb(90, 90, 90);
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid rgb(90, 90, 90);
    background-color: rgb(221, 221, 221);
}