* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#d1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}