<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>

</head>

<body>
    <h1 class="topic">T: MVC - Model, Views, Controller</h1>
    <div class="select-container">
        <div>
            <select name="animalSelect" id="animalSelect" class="select" size="4">
                <option value="kot">kot</option>
                <option value="pies">pies</option>
                <option value="krowa">krowa</option>
            </select>
        </div>
        <div>
            <select name="colorSelect" id="colorSelect" class="select" size="4">
                <option value="white">white</option>
                <option value="black">black</option>
                <option value="yellow">yellow</option>
            </select>
        </div>
        <select class="select" id="itemContainer" name="itemContainer" size="4"></select>
    </div>
    <div class="button-container">
        <button id="addingButton" class="button">add one</button>
        <button id="gettingButton" class="button">get all</button>
        <button id="deletingButton" class="button">delete selected</button>
        <button id="updatingButton" class="button">update selected</button>
    </div>

</body>

</html>