* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Consolas, monospace;
}

.naglowek {
	font-size: 30px;
}

.formularz1 {
	width: 250px;
	height: 250px;
	background-color: blue;
	color: white;
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	gap: 10px;
	margin: 10px;
	padding: 5px;

	.titleParagaph {
		color: white;
		font-size: 20px;
	}
}

.button1 {
	background-color: white;
	color: blue;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
}

.formularz2 {
	width: max-content;
	height: max-content;
	background-color: blue;
	margin: 10px;
	padding: 5px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	color: rgb(255, 93, 93);
	font-weight: bold;

	.titleParagaph {
		font-size: 20px;
	}

	.divMySelect {
		.titleParagaph {
			font-size: 16px;
		}
	}
}

.flexContainer1 {
	display: flex;
}

.divMySelect {
	border: 3px solid white;
	width: 250px;
	height: max-content;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	font-weight: bold;
	color: white;
}

.formularz3 {
	width: max-content;
	height: max-content;
	background-color: blue;
	margin: 10px;
	padding: 5px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	color: rgb(255, 93, 93);
	font-weight: bold;
	font-size: 16px;
}

.checkboxField {
	width: 250px;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: black;

	div {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	input {
		width: 20px;
		height: 20px;
	}
}

.formularz4 {
	width: max-content;
	height: max-content;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin: 10px;
	padding: 10px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

	form {
		width: 100%;
	}

	.addComponentRadio {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 5px;

		input {
			width: 15px;
			height: 15px;
		}
	}
}

.componentContainer {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.radioField {
	width: 200px;
	height: max-content;
	background-color: blue;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;

	img {
		width: 50px;
		height: 50px;
	}

	.inputContainer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		input {
			width: 15px;
			height: 15px;
		}

		div {
			display: flex;
			align-items: center;
			gap: 3px;
		}
	}
}

.timersContainer {
	display: flex;
	gap: 10px;
	margin: 10px;
	width: max-content;
	height: max-content;
}

.timer {
	width: 150px;
	height: 150px;
	background-color: darkblue;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
	border: 5px solid rgb(199, 199, 199);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.button2 {
	background-color: white;
	border: none;
	color: darkblue;
	font-size: 14px;
	font-weight: bold;
	padding: 2px;
}

.threadContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 15px;
	margin: 10px;
	padding: 10px;
	width: max-content;
	height: max-content;
	background-color: rgb(100, 100, 100);
	border-radius: 5px;
}

.thread {
	background-color: rgb(216, 216, 216);
	border-radius: 5px;
	padding: 10px;
	width: max-content;
	height: max-content;
	display: flex;
	flex-direction: column;
	gap: 10px;

	p.threadTitle {
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
	}
}

.commentsContainer {
	width: 600px;
	height: max-content;
	background-color: rgb(100, 100, 100);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.comment {
	width: 100%;
	height: max-content;
	background-color: rgb(143, 143, 143);
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
}

.commentForm {
	width: 600px;
	height: max-content;
	background-color: rgb(100, 100, 100);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	textarea {
		width: 90%;
		resize: none;
		height: 100px;
		border-radius: 5px;
		padding: 5px;
		color: rgb(157, 216, 49);
		font-weight: bold;
	}

	textarea:focus {
		background-color: rgb(157, 216, 49);
		color: white;
	}

	p {
		color: white;
		font-weight: bold;

		i:nth-child(2) {
			color: rgb(157, 216, 49);
		}
	}
}

.button3 {
	background-color: black;
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
}