* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.header {
    color: grey;
}

.navigation {
    font-size: 20px;
    margin: 10px;
}

hr {
    border-top: 2px dotted grey;
}

.leftbar {
    border-right: 2px dotted grey;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    color: red;
    background-color: rgb(220, 220, 220);
    border: 2px solid red;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}

.currentsite {
    text-decoration: underline;
}

.parameters {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    font-size: large;
}

.main-content {
    display: flex;
}

.data-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 10px;
    font-size: larger;
}

.row > div {
    min-width: 100px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row div:nth-child(2) {
    width: 320px;
}

.row div:nth-child(3) {
    width: 130px;
}

.row div:nth-child(5) {
    width: 150px;
}

.airbags {
    flex-direction: column;
}