* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.naglowek {
    color: blue;
    margin: 10px;
}

.kulka {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}