{{> uklad}}
<div class="leftbar">

	<div class="menuleft" id="nowyFolder">nowy folder</div>
	<div class="menuleft" id="nowyPlik">nowy plik tekstowy</div>

	<div class="menuleft duzyGuzik">
		<div class="divStrzałka">
			<img src="https://www.svgrepo.com/show/167030/up-arrow-hand-drawn-outline.svg" alt="strzałka"
				class="obrazek1" id="strzałka">
		</div>

		<div>
			<form enctype="multipart/form-data" method="POST" action="/handleUpload" id="hiddenForm">
				<input type="file" name="plik" id="plik" multiple required hidden>
				<label for="plik">Wybierz</label>
			</form>
		</div>
		<button type="submit" form="hiddenForm">OK</button>
	</div>
	<br>
	<div class="infotext">
		<p>Wybierz - wybierz pliki</p>
		<p>OK - button submit</p>
	</div>
</div>

<div class="content3">
	<div class="content4">
		{{#each katalogi}}
		<div class="divKatalog">
			<div>
				<img src="https://cdn-icons-png.flaticon.com/512/716/716784.png" alt="katalog">
				{{!-- tutaj jeszcze bedzie button do usuwania --}}
			</div>
			<p>{{name}}</p>
		</div>
		{{/each}}
	</div>
	<div class="content4">
		{{#each pliki}}
		<div class="divPlik">
			<div>
				<img src="https://cdn-icons-png.flaticon.com/512/342/342348.png" alt="plik">
				{{!-- tutaj jeszcze bedzie button do usuwania --}}
			</div>
			<p>{{name}}</p>
		</div>

		{{/each}}
	</div>
</div>
{{!-- https://cdn-icons-png.flaticon.com/512/716/716784.png --}}

<dialog id="dialog1" class="dialog1">
	<form action="/nowyKatalog" method="POST" id="dialogForm1">
		{{!-- moze do formularza tu dac get i /filemanager --}}
		<br>
		<p>nazwa nowego folderu</p>
		<br>
		<input type="text" name="nazwa" id="nazwa">
		<br> <br>
		<button type="submit" class="button2">OK</button>
		<button type="text" class="button2">cancel</button>
	</form>
	{{!-- problem jest z tym ze nie wysyła req body, moze sprobowac fetchem --}}
</dialog>

<dialog id="dialog2" class="dialog2">
	<form action="/nowyPlik" method="POST" id="dialogForm2">
		<br>
		<p>nazwa nowego pliku</p>
		<br>
		<input type="text" name="nazwa" id="nazwa">
		<br> <br>
		<button type="submit" class="button2">OK</button>
		<button type="text" class="button2">cancel</button>

	</form>
</dialog>

<script>
	let nowyFolder = document.getElementById("nowyFolder")
	nowyFolder.addEventListener("click", otworzDialog1)
	let dialog1 = document.getElementById("dialog1")

	function otworzDialog1() {
		//console.log(dialog1);
		dialog1.open = true
		dialog2.open = false
	}

	let nowyPlik = document.getElementById("nowyPlik")
	nowyPlik.addEventListener("click", otworzDialog2)
	let dialog2 = document.getElementById("dialog2")

	function otworzDialog2() {
		//console.log(dialog2);
		dialog2.open = true
		dialog1.open = false
	}


	function fetchPost() {

		const body = JSON.stringify({ a: "a" }) // body czyli przesyłane na serwer dane

		const headers = { "Content-Type": "application/json" }

		fetch("/fetch", { method: "post", body, headers }) // fetch
			.then(response => response.json())
			.then(
				data => console.log(data) // dane odpowiedzi z serwera

			)
	}

	window.addEventListener("load", function () {
		fetchPost()

	})

</script>