div.header {
    width: 80%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
}

.link-container {
    width: 80%;
    height: max-content;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

div.body-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

div.child-center {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.title-div {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(139, 139, 139);
}

.button-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.param-button {
    border-radius: 5px;
    color: rgb(230, 230, 230);
    background-color: rgb(109, 17, 44);
    border: none;
    padding: 5px 10px;
    box-shadow: 6px 6px 10px -11px rgba(66, 68, 90, 1);
    width: max-content;
    height: max-content;
    font-size: 14px;
}